body {
    margin: 3em;
}

[data-item-template] { display: none; }

[data-item="Todo"] > .editing {
    display: none;
}

[data-item="Todo"]:hover > .editing {
    display: inline;
}

[data-item="Todo"]:hover > .body {
    display: none;
}
